h1{
    font-size: 1.5em;
}

.checkRulesText{
    font-size: 1.1em;
}

#playerOneGlobalScore, #playerTwoGlobalScore{
    font-size: 1.3em;
    margin-top: .5vw;
    margin-bottom: .5vw;

}

#playerOneCurrentScore, #playerTwoCurrentScore{
    font-size: 1.3em;
    margin-top: .5vw;
    margin-bottom: .5vw;

}

#dice{
    font-size: 1.5em;
    color: grey;
}

.playerMove{
    animation: .15s playerMove;
}

.jump{
    animation: .1s jump infinite alternate;
}

.diceRoll{
    animation: .8s roll;
    width: 60px;
    height: 60px;
    border-radius: 35px;
}

.diceRollMedium{
    animation: .8s rollMedium;
    width: 60px;
    height: 60px;
    border-radius: 35px;
}

.diceRollSmall{
    animation: .8s rollSmall;
    width: 60px;
    height: 60px;
    border-radius: 35px;
}

#spinDice{
    animation: .8s infinite alternate spin;
    border-radius: 35px;
    padding: 0.5vw;
}

@keyframes spin {
    0% {
        transform: translateX(0px);
    }
   
    100% {
        transform: translateX(2px) rotate(360deg);
    }
}

@keyframes jump {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translatey(-20px);
    }
}


@keyframes playerMove {
    0% {
        transform: translateX(0px);
    }
   
    100% {
        transform: translatey(200px);
    }
}

@keyframes roll {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(50px) translateY(700px) rotate(360deg);
     }
    50% {
        transform: translateX(300px) translateY(200px) rotate(180deg);
     }
    75% {
        transform: translateX(250px) translateY(15px) rotate(360deg);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(180deg);
    }
}

@keyframes rollMedium {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(50px) translateY(275px) rotate(360deg);
     }
    50% {
        transform: translateX(150px) translateY(200px) rotate(360deg);
     }
    75% {
        transform: translateX(200px) translateY(15px) rotate(360deg);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(360deg);
    }
}

@keyframes rollSmall {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(40px) translateY(200px) rotate(180deg);
     }
    50% {
        transform: translateX(70px) translateY(200px) rotate(360deg);
     }
    75% {
        transform: translateX(90px) translateY(15px) rotate(180deg);
    }
    100% {
        transform: translateX(0px) translateY(0px) rotate(360deg);
    }
}

.borderCurved{
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}
